:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lowestBin {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 350px;
  flex-wrap: wrap;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 24px;
  padding: 36px;
  margin: 12px;
  cursor: pointer;
}

.lowestBinContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.lowestBin--COMMON {
  background-color: #ffffff;
}

.lowestBin--UNCOMMON {
  background-color: #00ff15;
}

.lowestBin--RARE {
  background-color: #3c6aff;
}

.lowestBin--EPIC {
  background-color: #8631ad;
}

.lowestBin--LEGENDARY {
  background-color: #ffae00;
}

.lowestBin--SPECIAL {
  background-color: #ff0000;
}

.lowestBin--MYTHIC {
  background-color: #00c3ff;
}

.copy {
  width: 150px;
  height: 50px;
  padding: 0 15px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
}

.CTA {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 100px;
  cursor: pointer;
}
